.checkbox {
    margin-right: 10px;
}

.checkbox input {
    margin-right: 5px;
}

.current {
    height: 24px;
    padding: 20px;
    border: 1px solid lightgray;
}

.current strong {
    margin-right: 10px;
    font-weight: 600;
}
